# Discord bot authentication token
DISCORD_BOT_TOKEN=

# Discord Server ID to be managed by the bot
DISCORD_GUILD_ID=

# Discord channel ID to receive log messages from the bot
DISCORD_LOG_CHANNEL_ID=

# Discord User ID used by tests/test_set_guild_rank.py
TEST_USER_ID=

# Local file system path to GRM's SavedVariables file (Guild_Roster_Manager.lua)
GRM_SAVEDVARIABLES_PATH=

# WoW guild name as stored in GRM data like "Guild Name-Realm Name"
GRM_GUILD_NAME=
