# Python Cache
__pycache__/
*.pyc

# Virtual Environments
.venv/
venv/

# Environment Variables / Secrets
.env

# VS Code Settings
.vscode/*
!.vscode/settings.json

# OS Junk
.DS_Store
Thumbs.db

# Temporary Files
scratch/
